/* Hero Section ------------------------------------------------------------------ */

.hero {
  max-height: 37.5em;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25em 0.3125em 0.9375em 6.25em;
  margin-top: -6.25em;
  min-height: 37.5em;
  width: 100%;
}

.hero-text h1 {
  font-size: 2.25em;
  margin-top: -0.9375em;
  width: 75%;
}

.hero-text p {
  font-size: 1em;
  margin-bottom: 1.875em;
  color: var(--secondary-text-color);
}

/* Blog Section ------------------------------------------------------------------ */

.blog-content-wrapper {
  min-height: 31.25em;
}

.blog-post {
  padding: 3.125em 0 3.125em 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  border-radius: 5px;
}

.blog-post-reverse {
  flex-direction: row-reverse;
}

.blog-post:nth-child(odd) {
  background-color: var(--secondary-background-color);
}

.blog-post:nth-child(even) {
  color: var(--secondary-text-color);
  flex-direction: row-reverse;
}

.blog-image-wrapper {
  border-radius: 50%;
  height: 21.875em;
  width: 25em;
}

.blog-image {
  width: 25em;
  height: 21.875em;
  object-fit: cover;
  border-radius: 50%;
}

.blog-post-info {
  font-size: 20px;
  width: 50%;
}

.blog-post-button {
  margin: 15px 0 0 5px;
  height: 30px;
  width: 100px;
  background-color: var(--secondary-background-color);
  border-color: var(--main-border-color);
  color: var(--main-text-color);
  font-family: Poppins, sans-serif;
  border-radius: 3px;
  cursor: pointer;
  transition: transform ease-in 0.2;
}

.blog-post-button:hover {
  transform: scale(1.1);
  background-color: #c724b1;
}

/* Contact Section ----------------------------- */

.contact {
  display: flex;
  flex-direction: column;
  padding-top: 3.125em;
  padding-bottom: 3.125em;
  justify-content: center;
  align-items: center;
}

.contact h1 {
  font-size: 3em;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-elements {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.form-elements input {
  height: 2.1875em;
  width: 100%;
  margin: 0.3125em 0 0.625em 0;
  font-family: Poppins, sans-serif;
  border-radius: 5px;
  text-align: center;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border-color: var(--main-border-color);
}

.form-elements textarea {
  margin: 0.3125em 0 0.625em 0;
  font-family: Poppins, sans-serif;
  border-radius: 5px;
  text-align: center;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border-color: var(--main-border-color);
  outline: none;
  resize: none;
}

#message {
  height: 6.25em;
  text-align: center;
}

.form-elements.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button {
  width: 35%;
  border: 1px var(--main-border-color) inset;
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
  cursor: pointer;
}

@media only screen and (max-width: 429px) {
  .entire-container {
    padding: 10px !important;
    overflow-x: hidden;
    width: 100%;
  }
  .overlay {
    background-size: auto;
  }
  .blog-container {
    display: flex !important;
    flex-direction: column !important;
  }

  .hero-text {
    padding: 0px !important;
    margin-top: 10px !important;
    min-height: 200px !important;
    margin-bottom: 20px !important;
  }
  .hero-text h1 {
    font-size: 22px !important;
    margin-top: 0px;
    width: 100%;
  }
  .hero-text p {
    font-size: 1em;
    margin-bottom: 0;
  }
  .blog-content-wrapper {
    min-height: 300px;
  }
  .blog-post {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blog-post-reverse {
    flex-direction: column !important;
  }
  .blog-post:nth-child(even) {
    flex-direction: column !important;
  }

  .blog-post h4 {
    text-align: left;
  }
  .blog-image-wrapper {
    height: 200px !important;
    width: 200px !important;
  }
  .blog-image {
    height: 200px !important;
    width: 200px !important;
  }
  .blog-post-info {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog-post-button {
    margin: 15px 0 0 5px;
    height: 30px;
    width: 100px;
  }
  .contact {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
  }
  .contact-form {
    width: 100% !important;
  }
  .form-elements {
    width: 100%;
  }
  .contact h1 {
    font-size: 24px !important;
  }
  .form-elements input {
    height: 2.1875em;
    margin: 0;
  }
  .form-elements textarea {
    margin: 0 0 0.625em;
  }
  #message {
    height: 80px;
    width: 100% !important;
  }
  #button {
    width: 35%;
  }
}

@media screen and (min-width: 430px) and (max-width: 900px) {
  .entire-container {
    padding: 10px;
    overflow-x: hidden;
  }
  .overlay {
    background-size: contain;
  }

  .hero {
    max-height: 300px;
    margin-bottom: 100px;
  }
  .hero-text {
    min-height: 200px;
    margin-top: 60px;
  }
  .hero-text h1 {
    font-size: 30px;
  }
  .blog-image-wrapper {
    height: 275px;
    width: 275px;
  }
  .blog-image {
    height: 275px;
    width: 275px;
  }
  .blog-post-info {
    font-size: 18px;
  }
  .contact h1 {
    font-size: 38px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1025px) {
  .blog-image-wrapper {
    height: 325px;
    width: 350px;
  }
  .blog-image {
    height: 325px;
    width: 350px;
  }
  .nav-bar {
    padding: 15px 60px 15px 60px;
  }
}

@media screen and (min-width: 2000px) {
  .logo {
    font-size: 2.2rem;
  }
  .link {
    font-size: 1.6rem;
    border-width: 2px;
  }
  .hero-text p {
    font-size: 2.25rem;
  }
  .hero-text h1 {
    font-size: 3.5rem;
  }
  .blog-image-wrapper {
    height: 455px;
    width: 520px;
  }
  .blog-image {
    height: 455px;
    width: 520px;
  }
  .blog-post-info h4 {
    font-size: 2rem;
  }
  .blog-post-info button {
    height: 100%;
    width: fit-content;
    padding: 5px;
    font-size: 1.4rem;
  }
  #contact-anchor {
    font-size: 3.5rem;
  }
  .form-elements {
    min-width: 700px;
    font-size: 1.5rem;
  }
  .form-elements input {
    font-size: 1.3rem;
  }
  .form-elements textarea {
    font-size: 1.3rem;
  }
  .hero-text {
    margin-top: -2.25em;
  }
  .hero {
    max-height: 50rem;
  }
  .hero-text {
    min-height: 50rem;
  }
  .footer {
    font-size: 1.5rem;
  }
  .sticky-arrow {
    height: 3rem;
    width: 3rem;
    font-size: 1.2rem;
  }
}
