.spinner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  font-size: 2.5rem;
}

.spinner-text {
  font-size: 1.5rem;
}

@media screen and (max-width: 430px) {
  .spinner {
    font-size: 1.7rem;
  }
  .spinner-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1700px) {
  .spinner {
    font-size: 4.5rem;
  }
  .spinner-text {
    font-size: 3rem;
  }
}
